<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/classhead.ejs %>
    </head>
    <body onload="my_init()">
        <div class="container-fluid height-full" id="classroom" classroom ng-app="classroomApp" ng-controller="classroomController">
            {{LooksLikeAngularIsBroken}}
            <div class="row height-full">
                <% include partials/content/lesson.ejs %>
                <% include partials/content/comms.ejs %>
            </div>
        </div>
        <script>
            $(".insert-panel").mCustomScrollbar({ 
                mouseWheel:{ preventDefault: true },
                scrollInertia: 100 });
            $(".lesson").mCustomScrollbar({ scrollInertia: 100 });
        </script>
    </body>
</html>