<!DOCTYPE html>
<html lang="en">
  <head>
     <% include partials/template/head.ejs %>
     <link rel="stylesheet" href="/stylesheets/linguafranca.css">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

     
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
  </head>

  <body>
     <% include partials/template/sectionnav.ejs %>
    
<!--    <!doctype html>-->
<!--<html lang='en' id='top'>-->
<!--<head>-->
<!--   <meta charset='utf-8'>-->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--   <meta property="og:title" content="Lingua Franca English">-->
<!--   <meta property="og:image" content="http://linguafrancaworld.com/img/World.jpg">-->
<!--   <meta property="og:description" content="Private English classes with native speakers on Skype. Plans from $14.99 a class. Start your FREE class today.">-->
<!--   <meta name="description" content="Private English classes with native speakers on Skype. Plans from $14.99 a class. Start your FREE class today.">-->
<!--   <meta property="og:type" content="website">-->
<!--   <meta property="og:url" content="http://linguafrancaworld.com">-->
<!--   <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Open+Sans' rel='stylesheet' type='text/css'>-->
<!--   <link rel="stylesheet" href="css/normalize.css">-->
<!--   <link rel="stylesheet" href="css/main.css">-->
<!--   <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">-->
<!--   <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">-->
<!--   <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">-->
<!--   <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">-->
<!--   <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">-->
<!--   <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">-->
<!--   <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">-->
<!--   <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">-->
<!--   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">-->
<!--   <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">-->
<!--   <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">-->
<!--   <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">-->
<!--   <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">-->
<!--   <link rel="manifest" href="/manifest.json">-->
<!--   <meta name="msapplication-TileColor" content="#da532c">-->
<!--   <meta name="msapplication-TileImage" content="/mstile-144x144.png">-->
<!--   <meta name="theme-color" content="#f2efd9">-->
<!--   <title>Lingua Franca English</title>-->
<!--   <script>-->
<!--      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
<!--      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
<!--      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
<!--      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

<!--      ga('create', 'UA-43205286-2', 'auto');-->
<!--      ga('send', 'pageview');-->
<!--   </script>-->
<!--</head>-->
<!--<body>-->

<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
<!--  var js, fjs = d.getElementsByTagName(s)[0];-->
<!--  if (d.getElementById(id)) return;-->
<!--  js = d.createElement(s); js.id = id;-->
<!--  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=637031756317858";-->
<!--  fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->

   <!--<div id='topbar'>-->
   <!--   <nav>-->
   <!--      <ul>-->
   <!--         <li><a href='#why'>WHY</a></li>-->
   <!--         <li><a href='#what'>WHAT</a></li>-->
   <!--         <li><a href='#how'>HOW</a></li>-->
   <!--         <li><a href='#who'>WHO</a></li>-->
   <!--         <li><a href='#howmuch'>HOW MUCH</a></li>-->
   <!--         <li><a href='/blog'>BLOG</a></li>-->
   <!--      </ul>-->
   <!--   </nav>-->
   <!--</div>-->
   <div class='container-fluid featurePhoto' id='section1'>
       <div class="col-xs-12 scroll-hint text-center pad-top"> 
                <p>Scroll Down<br><i class="fa fa-angle-down"></i></p>
        </div>
   </div>
   
   
   <div class="container-fluid banner" id='banner'>
      <div class="row">
  	      <div class="col-sm-8 col-sm-offset-2 text-center half-pad-top">
            <h1>Private English classes with native speakers on Skype.</h1>
            <h2>Plans from $14.99 a class.</h2>
         </div><!-- col -->
      </div><!-- row -->
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h2><a href="/users/create" class="btn btn-default btn-block btn-lg"><span class="glyphicon glyphicon-user"></span> Signup Now</a></h2>
        </div><!-- col -->
    </div><!-- row -->
   </div><!-- container -->
   
   
   <a name="why"></a>
   <section class='container-fluid infoA why' id='section4'>
      <div class="wrap row">
         <div class="col-xs-12">
            <h1 class='text-center'>Why English</h1>
         </div>
            <div class="col-xs-6 col-xs-offset-3 pad-top">
             <blockquote class='text-center'>
                <!--<h2 class="lingua">lingua franca</h2>-->
                <p>English is the <b class='lingua'>lingua franca</b> of the world today.</p>
                <p>A lingua franca is a common language that is used among many people who speak different languages.</p>
             </blockquote>
            </div> 
        </div>
         <div class="row text-center pad-top">
            <div class='circlentextline col-sm-2 col-sm-offset-1'>
               <div class='image'>
                  <img src="/images/linguafranca/circleglobebooks12.gif" alt="English for travel">
               </div>
               <div class='text'>
                  <h3>Travel</h3>
               </div>
            </div>
            <div class='circlentextline col-sm-2'>
               <div class='image'>
                  <img src="/images/linguafranca/circleheadbulb27.gif" alt="English for interviews">
               </div>
               <div class='text'>
                  <h3>Interviews</h3>
               </div>
            </div>
            <div class='circlentextline col-sm-2'>
               <div class='image'>
                  <img src="/images/linguafranca/circlecertificate6.gif" alt="English for tests">
               </div>
               <div class='text'>
                  <h3>TOEFL, IELTS</h3>
               </div>
            </div>
            <div class='circlentextline col-sm-2'>
               <div class='image'>
                  <img src="/images/linguafranca/circlehead4.gif" alt="Business English">
               </div>
               <div class='text'>
                  <h3>Business</h3>
               </div>
            </div>
            <div class='circlentextline col-sm-2'>
               <div class='image'>
                  <img src="/images/linguafranca/circlestudents5.gif" alt="Engish for university">
               </div>
               <div class='text'>
                  <h3>Academics</h3>
               </div>
            </div>
         </div><!--row-->
      </div><!--container-->
   </section>
   
   
   <a name="what"></a>
   <section class='container-fluid infoB what' id="section2">
      <div class='wrap row text-center'>
         <h1>What We Do</h1>
         <div class='circlentextgrid col-sm-6'>
            <div class='image'>
               <img src="/images/linguafranca/circleworld1.gif" alt="Classes with native speakers">
            </div>
            <div class='text'>
               <h3>55 minute lessons<br>with native speakers.</h3>
            </div>
         </div>
         <div class='circlentextgrid col-sm-6'>
            <div class='image'>
               <img src="/images/linguafranca/circlebookmagni18.gif" alt="Personalised lessons">
            </div>
            <div class='text'>
               <h3>Personalised lessons<br>to match your English goals.</h3>
            </div>
         </div>
         <div class='circlentextgrid col-sm-6 pad-top'>
            <div class='image'>
               <img src="/images/linguafranca/circlemachand29.gif" alt="Private English classes">
            </div>
            <div class='text'>
               <h3>Private 1 on 1 classes.</h3>
            </div>
         </div>
         <div class='circlentextgrid col-sm-6 pad-top'>
            <div class='image'>
               <img src="/images/linguafranca/circlecal20.gif" alt="Easy class scheduling">
            </div>
            <div class='text'>
               <h3>Flexible, easy scheduling.</h3>  
            </div>
         </div>
      </div>     
   </section>
   
   
   <a name="how"></a>
   <section class='infoA how container-fluid' id="section3">
      <div class="wrap row text-center">
         <div class="col-xs-12">
            <h1>How It Works</h1>
         </div>
         <div class="signup col-sm-12">
            <div class="signup-pitch">
               <h2>Sign up for a FREE 25 minute trial class on Skype.</h2>
               <p>Enter your email address at the top of the page to get started.</p>
            </div>
        </div>
         <div class='circlentextpath col-xs-12 pad-top'>
            <div class='image col-sm-4 col-sm-offset-2'>
               <img src="/images/linguafranca/circleowl30.gif" alt="Meet a teacher">
            </div>
            <div class='text col-sm-4'>
               <h2>Step 1</h2>
               <h3>Meet one of our experienced teachers.</h3>
            </div>
         </div>
         <div class='circlentextpath col-xs-12 pad-top'>
            <!--<div class='text col-sm-4 col-sm-offset-2'>-->
            <!--   <h2>Step 2</h2>-->
            <!--   <h3>Talk about your English goals.</h3>--> 
            <!--</div>-->
            <div class='image col-sm-4 col-sm-offset-2 col-sm-push-4'>
               <img src="/images/linguafranca/circletrophy3.gif" alt="Discuss your goals">
            </div>
            <div class='text col-sm-4 col-sm-pull-4'> 
               <h2>Step 2</h2>
               <h3>Talk about your English goals.</h3>
            </div>
         </div>
         <div class='circlentextpath col-xs-12 pad-top'>
            <div class='image col-sm-4 col-sm-offset-2'>
               <img src="/images/linguafranca/circlerocket21.gif" alt="Start today">
            </div>
            <div class='text col-sm-4'>
               <h2>Step 3</h2>
               <h3>Start improving your English today!</h3> 
            </div>
         </div>
       </div><!-- row -->
       <div class="row">
            <div class="col-xs-4 col-xs-offset-4 pad-top">
                <h2><a href="/users/create" class="btn btn-default btn-block btn-lg"><span class="glyphicon glyphicon-user"></span> Signup Now</a></h2>
             </div><!-- col -->
        </div><!-- row -->
   </section><!-- container -->
   
   
   <a name="who"></a>
   <section class='infoB who container-fluid text-center' id="section5">
      <!--<div class ='wrap row text-center'>-->
      <!--   <h1>Who We Are</h1>-->
      <!--   <div id='aboutFelicity col-sm-6'>-->
      <!--      <img src="/images/linguafranca/felicity.jpg" alt="Portrait of Felicity Forsyth">-->
      <!--      <h2>Felicity</h2>-->
      <!--      <p>Felicity Forsyth is from the United States. She has a masters degree in Medical Anthropology and a B.A. in International Development. She loves learning about new languages and cultures.</p>-->
      <!--   </div>-->
      <!--   <div id='aboutWilf col-sm-6'>-->
      <!--      <img src="/images/linguafranca/wilf.jpg" alt="Portrait of Wilf Engel">-->
      <!--      <h2>Wilf</h2>-->
      <!--      <p>Wilf Engel is from the United Kingdom. His professional background is in information technology, but he loves snowboarding, motorcycles and anything that goes fast.</p>-->
      <!--   </div>-->
      <!--   <div id="aboutUs col-sm-8 col-sm-offset-2">-->
      <!--      <img src="/images/linguafranca/us.jpg" alt="Portrait of Wilf and Felicity">-->
      <!--      <h2>Us</h2>-->
      <!--      <p>We started teaching English in 2010 in Chiang Mai, Thailand. We have taught students of all levels and ages in Taiwan, The Netherlands and Ecuador. Our online students come from over 15 different countries.</p>-->
      <!--      <p>We are both TEFL certified and have taught classes in business settings, universities, high schools, and young learner environments.</p>-->
      <!--      <p>We believe in the spread of English as a way to connect with people, understand new cultures and open doors to new opportunities.</p>-->
      <!--   </div>-->
      <!-- </div>-->
      <div class="container">
      	<div class="row">
      		<h1>Who We Are</h1>
      	</div>
          <div class="row pad-top">
              <div class="col-sm-4 col-sm-offset-2">
                  <div class="card">
                      <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      <div class="avatar">
                          <img src="" alt="" />
                      </div>
                      <div class="content half-pad-top">
                          <!--<ul class="fa-ul">--> 
                          <!--    <li><i class="fa-li fa fa-flag iconpad"></i>United States</li>-->
                          <!--    <li><i class="fa-li fa fa-graduation-cap iconpad"></i>International Development</li>-->
                          <!--</ul>-->
                          <p>Felicity</p>
                             <p><i class="fa fa-flag iconpad"></i>United States</p>
                            <p><i class="fa fa-graduation-cap iconpad"></i>International Development</p>
                            <p>5+ years of teaching experience both in the classroom and online.</p>
                          <p><button type="button" class="btn btn-default" onclick="window.open('https://cl.linkedin.com/in/felicityforsyth')"><i class="fa fa-linkedin iconpad"></i>View Profile</button></p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      <div class="avatar">
                          <img src="" alt="" />
                      </div> 
                      <div class="content half-pad-top">
                          <p>Wilf</p>
                            <p><i class="fa fa-flag iconpad"></i>England</p>
                            <p><i class="fa fa-graduation-cap iconpad"></i>Computer Science</p>
                             <p>5+ years of teaching experience both in the classroom and online.</p>
                          <p><button type="button" class="btn btn-default" onclick="window.open('https://uk.linkedin.com/in/wilfengel')"><i class="fa fa-linkedin iconpad"></i>View Profile</button></p>
                      </div>
                  </div>
              </div>
         </div>
         <div class="row pad-top">
              <div class="col-sm-4">
                  <div class="card">
                      <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      <div class="avatar">
                          <img src="" alt="" />
                      </div>
                      <div class="content half-pad-top">
                          <p>Graeme</p>
                            <p><i class="fa fa-flag iconpad"></i>England</p>
                            <p><i class="fa fa-graduation-cap iconpad"></i>Marine Biology</p>
                             <p>5+ years of teaching experience both in the classroom and online.</p>
                          <!--<p><button type="button" class="btn btn-default"><i class="fa fa-linkedin iconpad"></i>View Profile</button></p>-->
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      <div class="avatar">
                          <img src="" alt="" />
                      </div>
                      <div class="content half-pad-top">
                          <p>Ann</p>
                            <p><i class="fa fa-flag iconpad"></i>United States</p>
                            <p><i class="fa fa-graduation-cap iconpad"></i>Education and Teaching</p>
                             <p>5+ years of teaching experience both in the classroom and online.</p>
                          <!--<p><button type="button" class="btn btn-default"><i class="fa fa-linkedin iconpad"></i>View Profile</button></p>-->
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      <div class="avatar">
                          <img src="" alt="" />
                      </div>
                      <div class="content half-pad-top">
                          <p>Will</p>
                            <p><i class="fa fa-flag iconpad"></i>England</p>
                            <p><i class="fa fa-graduation-cap iconpad"></i>Philosophy and Education</p>
                             <p>5+ years of teaching experience both in the classroom and online.</p>
                          <!--<p><button type="button" class="btn btn-default"><i class="fa fa-linkedin iconpad"></i>View Profile</button></p>-->
                      </div>
                  </div>
              </div>
              </div><!-- row -->
          </div><!-- container -->
      </div>
      
      
      <img class="src-image resize-img"  src="/images/linguafranca/felicity.jpg" alt="Felicity profile picture">
      <img class="src-image resize-img"  src="/images/linguafranca/wilf.jpg" alt="Wilf profile picture">
      <img class="src-image resize-img"  src="/images/linguafranca/graeme.jpg" alt="Graeme profile picture">
      <img class="src-image resize-img"  src="/images/linguafranca/ann.jpg" alt="Ann profile picture">
      <img class="src-image resize-img"  src="/images/linguafranca/will.jpg" alt="William profile picture">

   </section>
   
   
   <a name="howmuch"></a>
   <!--<div class='infoA howmuch'>-->
   <!--   <div class="wrap">-->
   <!--      <h1>How Much</h1>-->
   <!--      <div class='pricebox one'>-->
   <!--         <h2>1 class</h2>-->
   <!--         <p>55 minutes</p>-->
   <!--         <p>$19.99 each</p>-->
   <!--      </div>-->
   <!--      <div class='pricebox five'>-->
   <!--         <h2>5 classes</h2>-->
   <!--         <p>55 min x 5</p>-->
   <!--         <p>$18.99 each</p>-->
   <!--      </div>-->
   <!--      <div class='pricebox ten'>-->
   <!--         <h2>10 classes</h2>-->
   <!--         <p>55 min x 10</p>-->
   <!--         <p>$17.99 each</p>-->
   <!--      </div>-->
   <!--      <div class='pricebox twenty'>-->
   <!--         <h2>20 classes</h2>-->
   <!--         <p>55 min x 20</p>-->
   <!--         <p>$14.99 each</p>-->
   <!--      </div>-->
   <!--      <h2>We accept all major credit and bank cards.</h2>-->
   <!--      <p>Buy classes at our secure payments page.</p>-->
   <!--      <a href="https://linguafrancaworldcom.ipage.com/payments.php">-->
   <!--      <div class="btn">-->
   <!--         Buy Classes Now-->
   <!--      </div>-->
   <!--      </a>-->
   <!--   </div>-->
   <!--</div>-->
   <section class="container-fluid how-much" id="section6">
      <div class="container">
   <div class="row text-center">
            <div class="col-md-12">
               <h1>How Much</h1>
            </div>
    </div>        
           
  <div class="row db-padding-btm db-attached pad-top">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>$</sup>19.99
                                <small>per class</small>
                        </div>
                        <!--<div class="type">-->
                        <!--    1 Class-->
                        <!--</div>-->
                        <ul>

                            <li><i class="glyphicon glyphicon-plus"></i>1 credit </li>
                            <li><i class="glyphicon glyphicon-time"></i>55 minutes </li>
                            <li><i></i>or</li>
                           <li><i class="glyphicon glyphicon-time"></i>25 min x 2</li>
                            <li><i class="glyphicon glyphicon-usd"></i>19.99</li>
                        </ul>
                        <!--<div class="pricing-footer">-->

                        <!--    <a href="#" class="btn db-button-color-square btn-lg">BUY CREDIT</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two">
                    <div class="price">
                        <sup>$</sup>18.99
                                <small>per class</small>
                    </div>
                    <!--<div class="type">-->
                    <!--    5 Classes-->
                    <!--</div>-->
                    <ul>

                        <li><i class="glyphicon glyphicon-plus"></i>5 credits </li>
                        <li><i class="glyphicon glyphicon-time"></i>55 min x 5 </li>
                        <li><i></i>or</li>
                        <li><i class="glyphicon glyphicon-time"></i>25 min x 10</li>
                        <li><i class="glyphicon glyphicon-usd"></i>94.95</li>
                    </ul>
                    <!--<div class="pricing-footer">-->

                    <!--    <a href="#" class="btn db-button-color-square btn-lg">BUY CREDITS</a>-->
                    <!--</div>-->
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup>$</sup>17.99
                                <small>per class</small>
                    </div>
                    <!--<div class="type">-->
                    <!--    10 Classes-->
                    <!--</div>-->
                    <ul>

                        <li><i class="glyphicon glyphicon-plus"></i>10 credits </li>
                        <li><i class="glyphicon glyphicon-time"></i>55 min x 10 </li>
                        <li><i></i>or</li>
                        <li><i class="glyphicon glyphicon-time"></i>25 min x 20</li>
                        <li><i class="glyphicon glyphicon-usd"></i>179.99</li>
                    </ul>
                    <!--<div class="pricing-footer">-->

                    <!--    <a href="#" class="btn db-button-color-square btn-lg">BUY CREDITS</a>-->
                    <!--</div>-->
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-six">
                    <div class="price">
                        <sup>$</sup>14.99
                                <small>per class</small>
                    </div>
                    <!--<div class="type">-->
                    <!--    20 Classes-->
                    <!--</div>-->
                    <ul>

                        <li><i class="glyphicon glyphicon-plus"></i>20 credits </li>
                        <li><i class="glyphicon glyphicon-time"></i>55 min x 20</li>
                        <li><i></i>or</li>
                        <li><i class="glyphicon glyphicon-time"></i>25 min x 40</li>
                        <li><i class="glyphicon glyphicon-usd"></i>299.80</li>
                    </ul>
                    <!--<div class="pricing-footer">-->

                    <!--    <a href="#" class="btn db-button-color-square btn-lg">BUY CREDITS</a>-->
                    <!--</div>-->
                </div>
                      </div>
            </div>
        </div>

    </div> <!--container-->
    </div>
   </section>
   
   <div class='container-fluid' id='betaTeam'>
       <div class='row'>
           <div class='col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-cente'>
               <h1>Earn Free Classes</h1>
               <p>At Lingua Franca we are developing a new classroom platform for teaching and learning languages.</p>
               <p>We are in the development stage and are looking for help.</p>
               <p>There are many ways you can help and get FREE conversation classes.</p>
               <h2><a href="/beta" class="btn btn-default btn-block btn-lg"><span class="glyphicon glyphicon-star"></span> Find out more</a></h2>
           </div>
       </div>
   </div>
   
   <div class='container-fluid' id='contact'>
       <div class='row text-center'>
          <h1>Contact Us</h1>
          <div class="mediaButtons">
             <a href="https://www.facebook.com/linguafrancaworld" target="_blank"><i class="fa fa-facebook fa-5x"></i></a>
             <a href="https://twitter.com/englishlingua" target="_blank"><i class="fa fa-twitter fa-5x"></i></a>
             <a href="" target="" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope fa-5x"></i></a>
            
            <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Under Construction</h4>
                    </div>
                    <div class="modal-body">
                      We're working on this bit. Send us a message on <a href="https://www.facebook.com/linguafrancaworld" target="_blank">Facebook</a> instead.
                    </div>
                    <div class="modal-footer"><!-- footer area with buttons for a continued dialog -->
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
  
  <!--<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>-->
          </div>
          <div class="fb-like" data-href="https://www.facebook.com/linguafrancaworld" data-width="350" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
          </div>
      </div>
   </div>
   
   
   <footer>
      <div class='footercontent wrap text-center'>
          <p>&copy lingua franca English 2015</p>
      </div>
   </footer>



     <% include partials/template/bootstrapincludes.ejs %>
     
     <script src="/javascripts/smooth-scroll.js"></script>
     <script src="/javascripts/stack-blur.js"></script>
  </body>
</html>
