  <div class="row db-padding-btm db-attached pad-top">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>$</sup>19.99
                                <small>per class</small>
                        </div>
                        <!--<div class="type">-->
                        <!--    1 Class-->
                        <!--</div>-->
                        <ul>

                            <li><i class="glyphicon glyphicon-plus"></i>1 credit </li>
                            <li><i class="glyphicon glyphicon-time"></i>55 minutes </li>
                            <li><i></i>or</li>
                           <li><i class="glyphicon glyphicon-time"></i>25 min x 2</li>
                            <li><i class="glyphicon glyphicon-usd"></i>19.99</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">BUY CREDIT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two">
                    <div class="price">
                        <sup>$</sup>18.99
                                <small>per class</small>
                    </div>
                    <!--<div class="type">-->
                    <!--    5 Classes-->
                    <!--</div>-->
                    <ul>

                        <li><i class="glyphicon glyphicon-plus"></i>5 credits </li>
                        <li><i class="glyphicon glyphicon-time"></i>55 min x 5 </li>
                        <li><i></i>or</li>
                        <li><i class="glyphicon glyphicon-time"></i>25 min x 10</li>
                        <li><i class="glyphicon glyphicon-usd"></i>94.95</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BUY CREDITS</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup>$</sup>17.99
                                <small>per class</small>
                    </div>
                    <!--<div class="type">-->
                    <!--    10 Classes-->
                    <!--</div>-->
                    <ul>

                        <li><i class="glyphicon glyphicon-plus"></i>10 credits </li>
                        <li><i class="glyphicon glyphicon-time"></i>55 min x 10 </li>
                        <li><i></i>or</li>
                        <li><i class="glyphicon glyphicon-time"></i>25 min x 20</li>
                        <li><i class="glyphicon glyphicon-usd"></i>179.99</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BUY CREDITS</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-six">
                    <div class="price">
                        <sup>$</sup>14.99
                                <small>per class</small>
                    </div>
                    <!--<div class="type">-->
                    <!--    20 Classes-->
                    <!--</div>-->
                    <ul>

                        <li><i class="glyphicon glyphicon-plus"></i>20 credits </li>
                        <li><i class="glyphicon glyphicon-time"></i>55 min x 20</li>
                        <li><i></i>or</li>
                        <li><i class="glyphicon glyphicon-time"></i>25 min x 40</li>
                        <li><i class="glyphicon glyphicon-usd"></i>299.80</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BUY CREDITS</a>
                    </div>
                </div>
                      </div>
            </div>
        </div>