body {
    background: none;
    background-color: #C4C4C4;
}

.profile-dock { 
    background-color: #424242;
    height: 100vh;
    position: fixed;
    /*color: #ecf3f3;*/
}

.height-full {
    min-height: 100vh;
}

.no-pad { 
    padding: 0;
}

.btn-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.user-info ul {
    list-style-type: none;
    background-color: inherit; 
    color: #ecf3f3;
    padding: 0;
}

.user-info ul li {
    padding-bottom: 10px;
} 

/*MOVED TO BLOCKS.CSS*/

/*.word-list, .lesson-elect, .previous-lessons {*/
/*.well {   */
    /*margin: 10px;*/
    /*margin-top: 10px;*/
    /*height: 50vh;*/
    /*color:  #212121;*/
    /*overflow: hidden;*/
    /*background-color: #CFD8DC;*/ 
    /*margin-top: 45px;*/
    /*margin-bottom: 100px; */
/*}*/


/*.box-shadow-2 {*/
/*    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
/*}*/

/*.block-row-blue {*/
/*    background: -webkit-gradient(linear, 0 100%, 0 0, from(#28ABE3), color-stop(140px, #28ABE3), color-stop(140px, #C4C4C4), color-stop(140px, #C4C4C4), to(#C4C4C4));*/
/*    background: -webkit-linear-gradient(#28ABE3 0%, #28ABE3 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -moz-linear-gradient(#28ABE3 0%, #28ABE3 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -o-linear-gradient(#28ABE3 0%, #28ABE3 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: linear-gradient(#28ABE3 0%, #28ABE3 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%); */
    /*background-color: #28ABE3; */
/*}*/

/*.block-row-green {*/
/*    background: -webkit-gradient(linear, 0 100%, 0 0, from(#1FDA9A), color-stop(140px, #1FDA9A), color-stop(140px, #C4C4C4), color-stop(140px, #C4C4C4), to(#C4C4C4));*/
/*    background: -webkit-linear-gradient(#1FDA9A 0%, #1FDA9A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -moz-linear-gradient(#1FDA9A 0%, #1FDA9A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -o-linear-gradient(#1FDA9A 0%, #1FDA9A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: linear-gradient(#1FDA9A 0%, #1FDA9A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%); */

    /*background-color: #1FDA9A;*/
/*} */

/*.block-row-red {*/
/*    background: -webkit-gradient(linear, 0 100%, 0 0, from(#DB3340), color-stop(140px, #DB3340), color-stop(140px, #C4C4C4), color-stop(140px, #C4C4C4), to(#C4C4C4));*/
/*    background: -webkit-linear-gradient(#DB3340 0%, #DB3340 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -moz-linear-gradient(#DB3340 0%, #DB3340 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -o-linear-gradient(#DB3340 0%, #DB3340 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: linear-gradient(#DB3340 0%, #DB3340 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/

    /*background-color: #DB3340;*/
/*}*/

/*.block-row-gold {*/
/*    background: -webkit-gradient(linear, 0 100%, 0 0, from(#E8B71A), color-stop(140px, #E8B71A), color-stop(140px, #C4C4C4), color-stop(140px, #C4C4C4), to(#C4C4C4));*/
/*    background: -webkit-linear-gradient(#E8B71A 0%, #E8B71A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -moz-linear-gradient(#E8B71A 0%, #E8B71A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: -o-linear-gradient(#E8B71A 0%, #E8B71A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%);*/
/*    background: linear-gradient(#E8B71A 0%, #E8B71A 140px, #C4C4C4 140px, #C4C4C4 140px, #C4C4C4 100%); */

    /*background-color: #E8B71A;*/
/*}*/

.lesson-elect .row {
    /*height: 150px;*/
    /*background-color: black;*/
}
 
/*.lesson-elect img {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*}*/

/*.lesson-elect {*/
/*    background: no-repeat center fixed;*/
/*    background-size: cover;*/
/*}*/

.lesson-elect div {
    height: 100%;
    color: #ecf3f3;    
    /*width: 100%;*/
}  


/* Lesson card nasty hack */
.lesson-card:first-child {
    background:
        center no-repeat fixed
        
        linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
        ),
        /* bottom, image */
        url('/images/lessonthumbs/beach.jpg');
    background-size: cover;
}

.lesson-card:first-child:hover {
    background: no-repeat url('/images/lessonthumbs/beach.jpg'); 
    background-size: cover;
}

.lesson-card:nth-child(2) {
    background:
        center no-repeat fixed
        
        linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
        ),
        /* bottom, image */
        url('/images/lessonthumbs/city.jpg');
    background-size: cover;
}

.lesson-card:nth-child(2):hover {
    background: no-repeat url('/images/lessonthumbs/city.jpg'); 
    background-size: cover;
}

.lesson-card:nth-child(3) {
    background:
        center no-repeat fixed
        
        linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
        ),
        /* bottom, image */
        url('/images/lessonthumbs/football.jpg');
    background-size: cover;
}

.lesson-card:nth-child(3):hover {
    background: no-repeat url('/images/lessonthumbs/football.jpg'); 
    background-size: cover;
}

.lesson-card:nth-child(4) {
    background:
        center no-repeat fixed
        
        linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
        ),
        /* bottom, image */
        url('/images/lessonthumbs/landscape.jpg');
    background-size: cover;
}

.lesson-card:nth-child(4):hover {
    background: no-repeat url('/images/lessonthumbs/landscape.jpg'); 
    background-size: cover;
}

.word-list, .lesson-elect, .previous-lessons, .progress {
    position: relative;
    height: 50vh;
}

.see-more {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: -10px; 
    left: 0px; 
    color: #ecf3f3;  
    cursor: pointer; 
    /*z-index: 0;*/
} 

.see-more:hover {
    background-color: rgba(0, 0, 0, 0.85);
} 

/*.btn-blue {*/
/*    background-color: rgba(40, 171, 227, 0.65);*/
/*}*/

/*.btn-blue:hover {*/
/*    background-color: rgba(40, 171, 227, 0.95);*/
/*}*/

#section2 {
    position: relative;
}

.scroll-hint {
    position: absolute;
    bottom: 0;
} 

.picture-well {
    height: 25vh;
}  
.profile-well {
    background: no-repeat url('/images/project/profile-v1.png');
    background-size: contain;
}