<div class="col-sm-8 height-full lesson mCustomScrollbar" id="lesson">
    <!--<h1 class="text-center"> T </h1>-->
    <!--<a href="#" id="insert-module">Insert Module</a>-->

<!-- FROM https://docs.angularjs.org/api/ng/directive/ngInclude -->
    
    
    <div ng-if="currentPath == 'teacherroom'" class="container-fluid pad-top">
        <!--<button onclick="sendLessonToDB()" class="btn btn-flat btn-warning">Send To DB</button> -->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
           <div class="panel panel-info">
              <div class="panel-heading">
                <h1 class="panel-title">Insert Block</h1>
              </div>
              <div class="panel-body insert-panel mCustomScrollbar"> <!--  data-mcs-theme="minimal-dark" -->
                    <h2 class=blockSectionHeader>Pre-Made Blocks</h2>
                    <!--<button onclick="sendMessage('blockInsert', 'reading block')">Block insert</button>-->
                    <!--<a href="" onclick="sendMessage('blokInsert, 'reading block')" class="btn btn-raised btn-info">Insert</a>-->
                    <div class="row">
                        <div ng-repeat="block in content" class="col-sm-4" ng-init="i = $index">
                            <div ng-if="block.content_type == 'conversation'" class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Conversation</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'static')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                            <div ng-if="block.content_type == 'reading'" class="panel panel-success">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Reading</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'static')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                            <div ng-if="block.content_type == 'vocabulary'" class="panel panel-warning">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Vocabulary</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'static')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                            <div ng-if="block.content_type == 'video'" class="panel panel-danger">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Video</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'static')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                        </div> <!-- ng-repeat col -->
                    </div> <!-- row -->
                    <hr>
                    <div class="row">
                        <h2 class=blockSectionHeader>Dynamic Blocks</h2>
                        <div ng-repeat="block in dynamicContent" class="col-sm-4">
                            <div ng-if="block.content_type == 'conversation'" class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Conversation</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'dynamic')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                            <div ng-if="block.content_type == 'reading'" class="panel panel-success">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Reading</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'dynamic')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                            <div ng-if="block.content_type == 'vocabulary'" class="panel panel-warning">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Vocabulary</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <p>You have <strong>{{block.data.length}}</strong> words selected</p>
                                    <button ng-click="insert($index, 'dynamic')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                            <div ng-if="block.content_type == 'image'" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Images</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{block.title}}</p>
                                    <button ng-click="insert($index, 'dynamic')" class="btn btn-flat btn-warning">Preview</button>
                                </div>
                            </div>
                        </div> <!-- ng-repeat col -->
                    </div> <!-- row -->
              </div> <!-- panel body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- container -->
    <!--</div>-->
    
    <div ng-if="currentPath == 'studentroom' && intro == true" class="blockSectionHeader pad-top">
        <h1 ng-if="currentPath == 'studentroom'">Welcome to the classroom.</h1>
        <p>Your browser will ask for permission to use your camera and microphone.</p>
        <p>Make sure to click accept.</p>
    </div>
    
    
    <div ng-repeat="block in blocks track by $index">
        <div ng-include="block.url" ng-init="contentId = block.contentId"></div>
    </div>
</div>