<div class="col-sm-4  col-sm-offset-8 height-full commsbar">
    <div class="container-fluid height-full">
        <div class="row">
            <div class="col-xs-12 height-half">
                <a href="#" id="make-call">Call</a>
                <a href="" id="end-call">End Call</a>
                <div class="video">
                    <video id="their-video" autoplay class="their-video"></video>
                    <div class="this-video">
                        <video id="my-video" muted="true" autoplay class="my-video"></video>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 height-half chat" id="chat-window">
            </div>
            <div class="type-chat pull-right">
                <input type="text" name="chat" class="form-control" id="chat" placeholder="Say something" maxlength="500">
            </div>
        </div>
    </div>
</div>