<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/template/head.ejs %>
     <link rel="stylesheet" href="/stylesheets/linguafranca.css">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/stylesheets/profile.css">


     
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
  </head>

  <body>
     <% include ../partials/template/sectionnav.ejs %>
   
    <a name="two"></a>
    <section class='infoB who container-fluid' id="section2">
      	<div class="row">
      	    <div class="col-md-12 text-center">
                <h1>Welcome to the Beta Team</h1>
            </div><!-- col -->
            <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>Learning Platform</h2>
                <p>We have learnt a lot about teaching and learning languages in the past few years and are dedicated to making the perfect language learning platform.</p>
                <p>We need your help to make it the best possible platform.</p>
                <p>You can help in many ways and earn FREE conversation classes in return.</p>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>IMAGE HERE</h2>
            </div><!-- col -->
            <div class="col-xs-12 scroll-hint text-center pad-top"> 
                <p>Scroll Down<br><i class="fa fa-angle-down"></i></p>
            </div>
      	</div><!-- row -->
    </section>
   
   
    <a name=""></a>
    <section class='infoB who container-fluid' id="section3">
      	<div class="row">
      	    <div class="col-md-12 text-center">
                <h1>Your Profile</h1>
                <h2>Track your progress</h2>
            </div><!-- col -->
            <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>IMAGE HERE - goal block</h2>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>Choose your goals</h2>
                <p>Not everyone wants to learn the same things.</p>
                <p>Choose the goal that suits your needs</p>
            </div><!-- col -->
             <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>See your progress</h2>
                <p>Being able to see your progress is a powerful motivational tool.</p>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>IMAGE HERE - colored chart</h2>
            </div><!-- col -->
      	</div><!-- row -->
    </section>
   
   
    <a name=""></a>
    <section class='infoB who container-fluid' id="section4">
      	<div class="row">
      	    <div class="col-md-12 text-center">
                <h1>Online Classroom</h1>
            </div><!-- col -->
             <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>IMAGE HERE - connection</h2>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>Connected</h2>
                <p>Using specialized technology you and your teacher can connect in new and powerful ways.</p>
                <p>Your teacher can control the materials you see.</p>
                <p>No more downloading PDFs or screensharing.</p>
            </div><!-- col -->
             <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>Integrated</h2>
                <p>The class materials are all integrated with your profile.</p> 
                <p>All your new vocabulary in one place.</p>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>IMAGE HERE - integration</h2>
            </div><!-- col -->
      	</div><!-- row -->
    </section>
   
   
   <a name=""></a>
   <section class='infoB who container-fluid' id="section5">
      	<div class="row">
      	    <div class="col-md-12 text-center">
                <h1>Lessons</h1>
            </div><!-- col -->
            <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>IMAGE HERE - building blocks</h2>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>You are Unique</h2>
                <p>Choose your goal and make your own path.</p>
                <p>Lessons are built in blocks. Each one helps you progress towards your goal</p>
            </div><!-- col -->
             <div class="col-sm-4 col-sm-offset-2 pad-top">
                <h2>Flexible</h2>
                <p>Everyone learns differently so you should be taught differently too.</p>
                <p>Lessons are completely flexible. Focus on the things you enjoy while still making progress.</p>
            </div><!-- col -->
            <div class="col-sm-4 pad-top"> 
                <h2>IMAGE HERE - choices</h2>
            </div><!-- col -->
      	</div><!-- row -->
   </section>
   
    <a name=""></a>
    <section class="container-fluid how-much" id="section6">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Ways to help</h1> 
                <p>Earn conversation classes by helping us.</p>
            </div><!-- col -->
            <div class="col-sm-8 col-sm-offset-2 pad-top"> 
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Action</th>
                        <th>Reward</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Take a questionnaire</td>
                        <td>10 minute conversation class</td>
                      </tr>
                    <!--</tbody>-->
                    <!--<tbody>-->
                      <tr>
                        <td>Join a user feedback session</td>
                        <td>Give us your thoughts during a 25 minute test session</td>
                      </tr>
                    </tbody>
             
                </table>
            </div>
        </div>  <!-- row -->
   </section> <!-- container -->
   
   <div class='container-fluid' id='contact'>
       <div class='row text-center'>
          <h1>Contact Us</h1>
          <div class="mediaButtons">
             <a href="https://www.facebook.com/linguafrancaworld" target="_blank"><i class="fa fa-facebook fa-5x"></i></a>
             <a href="https://twitter.com/englishlingua" target="_blank"><i class="fa fa-twitter fa-5x"></i></a>
             <a href="" target="" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope fa-5x"></i></a>
            
            <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Under Construction</h4>
                    </div>
                    <div class="modal-body">
                      We're working on this bit. Send us a message on <a href="https://www.facebook.com/linguafrancaworld" target="_blank">Facebook</a> instead.
                    </div>
                    <div class="modal-footer"><!-- footer area with buttons for a continued dialog -->
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
  
  <!--<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>-->
          </div>
          <div class="fb-like" data-href="https://www.facebook.com/linguafrancaworld" data-width="350" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
          </div>
      </div>
   </div>
   
   
   <footer>
      <div class='footercontent wrap text-center'>
          <p>&copy lingua franca English 2015</p>
      </div>
   </footer>



     <% include ../partials/template/bootstrapincludes.ejs %>
     
     <script src="/javascripts/smooth-scroll.js"></script>
     <!--<script src="/javascripts/stack-blur.js"></script>-->
  </body>
</html>
