<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/template/head.ejs %>
     
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
  </head>

  <body>
     <% include ../partials/template/navigation.ejs %>
    <div class="container-fluid height-full">
            <div class="row pad-top">
                <div class="col-md-6 col-md-offset-3">
                    <form class="form-horizontal well" role="form"  id="register" action="/users/login" method="post" accept-charset="UTF-8">
                        <fieldset>
                            <legend>Login</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" value="" class="form-control" id="email" placeholder="Enter email" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="password">Password:</label>
                                <div class="col-sm-10" class='pwdwidgetdiv' id='thepwddiv'> 
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required>
                                </div>
                            </div>
                            <div class="form-submit"> 
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" name="Submit" value="Submit" class="btn btn-default">Submit</button>
                                </div>
                                <span class="text-danger"><% if(locals.error) {%> value="<%= error %>" <% } %></span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

     <% include ../partials/template/bootstrapincludes.ejs %>
  </body>
</html>
